<h1>Quotes:</h1>
<ul class="list-group">
    <li 
        *ngFor="let quote of quotes"
        class="list-group-item">
        {{ quote.quote + " - " + quote.author }}
    </li>
</ul>
<h2>Add A New Quote</h2>
<form #addQuote="ngForm" (ngSubmit)="onClickSubmit(addQuote, addQuote.value)">
    <label for="quote">Quote:</label><br>
    <input type="text" id="quote" name="quote" ngModel><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" ngModel><br><br>
    <input type="submit" value="Submit">
</form>
<h2>Update A Quote</h2>
<form #updateQuote="ngForm" (ngSubmit)="onSubmittedUpdateQuote(updateQuote, updateQuote.value)">
    <label for="quote">Select a Quote to update:</label><br>
    <select name="quoteSelectedId" id="quote" [(ngModel)]="quoteUpdateSelect">
        <option *ngFor="let quote of quotes" [value]="quote.id">{{ quote.quote }}</option>
    </select><br>
    <label for="quote">Quote:</label><br>
    <input type="text" id="quoteFiled" name="quoteField" ngModel><br>
    <label for="author">Author:</label><br>
    <input type="text" id="authorField" name="authorField" ngModel><br><br>
    <input type="submit" value="Submit">
</form><br>
<h2>Delete A Quote</h2>
<form #deleteQuote="ngForm" (ngSubmit)="onSubmittedDeleteQuote(deleteQuote, deleteQuote.value)">
    <label for="quote">Select a Quote to delete:</label><br>
    <select name="quoteSelectedId" id="quote" [(ngModel)]="quoteUpdateSelect">
        <option *ngFor="let quote of quotes" [value]="quote.id">{{ quote.quote }}</option>
    </select><br>
    <input type="submit" value="Submit">
</form>